@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

body,
ul {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* top nav */
nav {
  padding-top: 10px;
}

#nav_con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6vw;
}

#nav-icons {
  padding-right: 2vw;
}

.logo {
  padding: 2vw;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style-type: none;
  padding-left: 2vw;
}

a:link,
li {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 79, 140);
}

a:visited {
  color: rgb(0, 79, 140);
}

.breadcrumbs {
  display: flex;
  gap: 3vw;
  flex-wrap: wrap;
}

.container {
  display: grid;
}

/* product img */
.product {
  max-width: 100%;
}

/* purchase-box */

.purchase_box {
  background-color: #1b5aa6;
  margin: 0px 10px;
  padding: 20px;
}
.purchase_box h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  margin: 0px 0px 10px 10px;
  padding-top: 10px;
}

.brandindicator {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(255, 255, 255);
  text-decoration-line: underline;
  padding-left: 10px;
}

.pricetag {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5em;
  margin: 5px 0px 10px 10px;
  color: rgb(255, 115, 8);
}

img {
  max-width: 100%;
  height: auto;
}

/* select-size box */

.size-select {
  display: flex;
  gap: 30px;
  align-items: center;
}
.choose {
  font-family: sans-serif;
  color: #fff;
  font-size: 1.5em;
  padding-left: 10px;
}
select {
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 132, 23);
  border-radius: 10px;
  font-size: 1.1em;
  max-height: 50px;
}

/* product page button */

.purchase_button {
  width: 200px;
  min-height: 50px;
  background-color: rgb(255, 132, 0);
  border: none;
  border-radius: 10px;
  font-size: 1em;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

/* product desc */

.product_desc {
  padding: 10px;
}

dt {
  font-weight: 700;
  padding-left: 3vw;
}

dt,
dd {
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
}

/* productlist START HERE */

h1 {
  padding-left: 3vw;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.productlist_container {
  margin: 0vw 10vw 3vw 3vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 350px));
  grid-gap: 2vw;
}

.productlist_container section h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.productlist_container section .discount {
  display: none;
}

.productlist_container section.onsale .discount {
  display: inherit;
}

section.soldout img {
  opacity: 0.5;
}

.percentage {
  background-color: rgb(12, 238, 12);
}

/* brand page START */

.brands_con {
  padding: 5vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3vw;
}

.brand_box {
  width: 200px;
  height: 200px;
  background-color: #4591ee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.3em;
  color: #fff;
}
